{% macro displayNewsList(news_list) %} {% for news in news_list %}
{{ news.name}}
{% endfor %} {% endmacro %} {% macro displayArtiList(arti_results_list) %} {% for arti in arti_results_list %}
{{ arti.title }}
{{ arti.title}}
{{ arti.description }} - {{ arti.publishedAt}} -

{% endfor %} {% endmacro %} {% macro displayDescrList(article) %}
{{ arti.title }} poster
{{ arti.title}}
{{ arti.description }} - {{ arti.publishedAt}} -

{{ arti.author}}

{% endmacro %} {% macro displayReviews(review_list) %} {% for review in review_list %}
Author
{{review.user.username}}

{{review.movie_title}}
{% endfor %} {% endmacro %}